@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Work Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animated-element {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 10;
  animation-name: fadeIn;
  position: relative;
}

@keyframes fadeIn {
  from {
    top: 20px;
  }

  to {
    top: 0px;
  }
}